[2017-06-28 04:52] williaster opened #20 "add boxplot series"

[2017-06-28 04:52] williaster opened #21 "factor out theme into its own package"

[2017-06-28 04:53] williaster opened #22 "add histogram series"

[2017-06-28 04:53] williaster opened #23 "add radial chart"

[2017-06-28 05:51] williaster opened #25 "add event flow visualization"

[2017-06-28 06:31] williaster opened #26 "add tooltips to chart packages"
this depends on the `@vx` story for tooltips landing [#44](https://github.com/hshoff/vx/issues/44)

[2017-06-28 19:39] williaster commented on #21
closed by https://github.com/williaster/data-ui/pull/27

[2017-06-28 19:39] #21 closed

[2017-06-28 19:47] williaster opened #28 "add animation support to charts"
this depends on the vx story for animations and interactions landing https://github.com/hshoff/vx/issues/6

[2017-06-30 01:02] williaster commented on #23
closed by https://github.com/williaster/data-ui/pull/29

[2017-07-12 07:05] williaster commented on #25
closed by https://github.com/williaster/data-ui/pull/31

[2017-07-12 07:05] #25 closed

[2017-07-12 07:05] #23 closed

[2017-07-12 07:07] williaster commented on #26
prototype of this landed with `@data-ui/event-flow` now that `@vx/tooltip` + `@vx/bounds` have landed. can add to `@data-ui/xy-chart` and `@data-ui/radial-chart` soon

[2017-07-12 17:18] williaster opened #32 "add better docs for xychart"

[2017-07-12 17:19] williaster opened #33 "add detailed docs for event-flow"

[2017-07-16 00:04] williaster commented on #33
adding visual paradigm image for docs here
![image](https://user-images.githubusercontent.com/4496521/28243463-9fef9734-697f-11e7-959b-027544c8f6e0.png)

[2017-07-16 01:06] williaster commented on #33
closed by https://github.com/williaster/data-ui/commit/39038038fade5e8472230f58f6dab29d2ee8a1d5

[2017-07-16 01:06] #33 closed

[2017-07-16 01:07] williaster commented on #32
closed by 3903803

[2017-07-16 01:08] williaster opened #35 "fix babel parsing for superset build"
the build for https://github.com/apache/incubator-superset/pull/3102 is failing due to some issue with babel parsing.

[2017-07-16 01:11] williaster opened #36 "fix parsing of `PropType` types in storybook Prop table tab"
all data-ui + vx proptypes show as other in the storybook:

![image](https://user-images.githubusercontent.com/4496521/28243680-fdf29422-6988-11e7-91ad-b5b3a23afe56.png)

this likely has to do with prop type functions being stripped during babel parsing / some build issue. may need to restructure the repo to fix it. may not be fixable for @vx issues

[2017-07-26 06:36] #35 closed

[2017-07-26 18:52] williaster opened #39 "add @data-ui/sparkline package"

[2017-07-26 18:52] williaster opened #40 "add @data-ui/histogram package"

[2017-08-04 18:06] williaster commented on #40
closed by #41

[2017-08-04 18:06] #40 closed

[2017-08-04 18:24] williaster opened #43 "add `@data-ui/progress-bar` package"

[2017-08-04 18:25] williaster commented on #28
proof of concept using [`resonance`](https://github.com/sghall/resonance) was used to implement animations for @data-ui/histogram

[2017-08-10 00:55] williaster commented on #26
making progress on this, should be out later this week

![tooltip-demo](https://user-images.githubusercontent.com/4496521/29149889-e34d14f6-7d2b-11e7-8f8f-b5021dc8f1b8.gif)

[2017-08-11 23:50] #32 closed

[2017-08-11 23:51] williaster commented on #26
closed by https://github.com/williaster/data-ui/pull/45

[2017-08-11 23:51] #26 closed

[2017-08-11 23:51] williaster commented on #22
closed by #41

[2017-08-11 23:51] #22 closed

[2017-08-16 20:25] williaster opened #49 "use absolute imports for `vx` components, update builds to support absolute imports for `data-ui` components"
currently we import components from `vx` via `import { MyComponent } from '@vx/package'` which means bundles will include the entire `vx` package we are importing from. this could be improved with absolute imports `import MyComponent from @vx/package/build/...`.

similarly we only build an index for each `@data-ui` package which means users get the entire package when they import a single componen

[2017-08-20 23:47] williaster commented on #39
closed by #44

[2017-08-20 23:47] #39 closed

[2017-09-27 18:03] iancmyers opened #57 "Update to React 16 and Enzyme 3"
React 16 and Enzyme 3 have been released and VX has been updated to support React 16. It would be great for data-ui to support React 16 as well.

[2017-09-27 19:47] williaster commented on #57
thanks @iancmyers, absolutely, this is high on my todo list 👍 I should be able to prioritize it within the next week and will update this issue accordingly.

[2017-09-27 19:47] iancmyers commented on #57
@williaster Thanks so much!

[2017-10-10 07:42] #57 closed

[2017-11-15 16:01] bsr203 opened #76 "Request: pie with a sector for selection"
Hi.

not really have any immediate use-case :-) but, below pie is beautiful.
Would like to see how to do it on top of vx.

http://recharts.org/#/en-US/examples/CustomActiveShapePieChart
http://jsfiddle.net/ro31mjuf/

thanks.
bsr.

[2017-11-16 19:37] williaster commented on #76
This is a great pie chart! I bet we could definitely get there with a combination of `@vx`, the recently-released `react-annotation` library for the selector, and `react-move` for animation.

I don't quite have the bandwidth to prioritize this right now but can take a shot at it soon, or would welcome PRs to do so!

[2017-11-16 19:44] bsr203 commented on #76
thanks... no hurry... will attempt a PR after I try out `@vx` and this lib. thanks again for your hard work on making these well tested components and examples. Cheers.

[2017-11-16 19:46] williaster commented on #20
closed by #75

[2017-11-16 19:46] #20 closed

[2017-11-16 19:54] williaster opened #77 "add support for snapping tooltips to values"

[2017-11-16 19:56] williaster opened #78 "[xy-chart][tooltip] support finding closest data points without voronoi"
this will also enable multiple series values in tooltips

[2017-12-07 00:34] #77 closed

[2017-12-07 00:34] #78 closed

[2018-03-02 06:00] williaster opened #86 "make `XYChart` + `withTooltip` support `onFocus` and `onBlur` for accessibility"

[2018-03-09 20:50] williaster opened #90 "[xy-chart] add circle packing constraint to keep circles within the width of the chart"

[2018-03-12 19:43] williaster commented on #90
closed by #91

[2018-03-12 19:43] #90 closed

[2018-03-12 19:45] williaster commented on #86
closed by #88

[2018-03-12 20:33] #86 closed

[2018-03-26 20:57] williaster opened #94 "add `@data-ui/shared` `withTooltip` to match `WithTooltip`"

[2018-03-26 20:58] williaster opened #95 "support function- and element-type `renderTooltip` prop in `@data-ui/shared` `WithTooltip`"

[2018-04-11 15:00] hurcy opened #98 "Question about data format of eventflow"
Hi,
I think event flow is very interesting, so I want to test event flow using my dataset.
I checked format of sampleEvents of eventflow demo, and I created my example like as follows.
But the flows are not grouped like sampleEvents.
Could you give me advice?

[code]

[2018-04-16 22:27] williaster commented on #98
Hi @hurcy :wave:, thanks for checking out event-flow :) This looks okay to me except you may need to parse the `ts` strings into actual `Date`s as is done in [`sampleEvents`](https://github.com/williaster/data-ui/blob/4fc8b5fc3d1e29c4c108688f81db2d67e65ccfa0/packages/event-flow/src/fixtures/sampleEvents.js).

If that doesn't work, could you create a minimal example to reproduce on a codesandbox fo

[2018-04-16 23:35] hurcy commented on #98
I could only reproduce my example like this.
https://codesandbox.io/s/xppzq41nwz
In event-flow demo, I switched from original example into my example.

2018-04-17 7:27 GMT+09:00 Chris Williams <notifications@github.com>:

[2018-05-22 01:41] PAK90 opened #100 "Histogram can't handle single-bin data"
I'm attempting to make a crossfilter-esque dashboard and part of that involves using the histograms. They're great, except when I filter my data to include only one bin's worth of data (e.g. reducing data to one category, `apples`, out of `['apples', 'oranges', 'bananas']`). At this point I get an error: `Cannot read property 'bin0' of undefined`. I'm assuming it's attempting to calculate bins on

[2018-05-22 17:04] williaster commented on #100
hey @PAK90, thanks for checking out the histogram package and raising the issue! I'll look into this today and hopefully get a fix in for it, or let you know if I find an easy workaround.

[2018-05-22 17:46] williaster commented on #100
@PAK90 can you link to a codesandbox to reproduce this? In my own testing for pre-binned or un-binned categorical data, I do not encounter this error.

[2018-05-23 04:33] PAK90 commented on #100
Here's a sample of the data I'm passing that's giving me trouble: https://gist.github.com/PAK90/dbe47c09ba90a7b3e9ebd118a42270a4. Note all the fields labeled 'manaCost' are identical (11).

And here's my code for the histogram in case I'm doing something silly in it:
[code]

[2018-05-23 16:16] bmantoni opened #102 "How to handle click in a Histogram BarSeries?"
I tried putting an onClick handler in the BarSeries within the Histogram, and on the Histogram, no luck. Is this possible?

                <Histogram
                ariaLabel="My histogram of ..."
                orientation="vertical"
                width={380}
                height={280}
                cumulative={false}
                normalized
                binCount={this.state.numBin

[2018-05-23 16:46] williaster commented on #102
Hey @bmantoni thanks for checking out @data-ui! This is currently not supported but will be trivial to add. I should be able to get to it today and will tag you in the PR 👍

[2018-05-23 16:53] bmantoni commented on #102
Hey! That would be amazing. Working on something I'd like to demo around the company - interactions between a list and visuals - so knowing which bar/bin got clicked and updating the data source/list. This feature will really help.
Appreciate your reply and your work here :)

[2018-05-23 17:17] williaster commented on #100
Ah okay, numeric data not categorical. I can reproduce the error now will try to get a fix out soon.

[2018-05-23 17:37] #102 closed

[2018-05-23 18:15] williaster commented on #100
A quick fix for you would be to set `binValues` to an array of at least 2 numbers on the Histogram component.

[2018-05-23 19:41] bmantoni commented on #102
Worked like a charm, thanks! :1st_place_medal:  :+1:

[2018-06-01 19:38] pandeyshashank opened #104 "TypeError: Cannot read property 'bandwidth' of null"
Histogram Density Series Component is giving the Error. The Error is getting generated in Production Build only not in Development mode. Hence, Histogram is not getting rendered.

TypeError: Cannot read property 'bandwidth' of null
    at o (DensitySeries.js:134)
    at f._constructComponentWithoutOwner (ReactCompositeComponent.js:306)
    at f._constructComponent (ReactCompositeComponent.js:282)

[2018-06-01 21:11] williaster commented on #104
Hey @pandeyshashank, thanks for checking out the histogram package! Can you link to a codesandbox with the code + sample data you are using? It's hard to debug this otherwise.

[2018-06-02 22:57] williaster commented on #104
thanks! I think I have an idea on what causes this, will try to get a fix in next week.

[2018-06-02 23:32] #104 closed

[2018-06-03 23:55] williaster commented on #104
@pandeyshashank this is hopefully fixed in [`@data-ui/histogram@0.0.58`](https://github.com/williaster/data-ui/blob/master/CHANGELOG.md#v0058)

[2018-06-04 05:48] pandeyshashank commented on #104
@williaster  The bug got fixed in the latest update. No Error is reported in production.
Thanks for the update

[2018-06-04 07:11] wulucxy opened #106 "any plan to support brush?"
@williaster I have one case of great mount of data to show,  it's not possible to show all the data in the chart, and may be brushChart is a solution。

so， do you have any plan to support the brush chart?

thanks for the great work done for visualization。

[2018-06-13 16:29] schicks commented on #106
@williaster I would be a big fan of brush support to allow more flexible histograms and timeseries charts. Is it a matter of needing support from vx?

[2018-06-13 18:47] williaster commented on #106
hey @wulucxy and @schicks!

yes, I agree and would love to get brush into the `histogram` + `xy-chart` packages as soon as it's added to vx. `@vx/brush` is expected to be added for v1 of `vx`, which is in the works now and hopefully will land in the next month or so. The API for interactions wasn't trivial which is why it has been delayed a bit (in addition to being busy with work projects).

[2018-06-14 23:48] schicks commented on #106
That's really good to hear! both this and vx look like great projects; something that could actually fill d3's niche within the react ecosystem.

[2018-06-19 14:20] spa888 opened #108 "XY-chart is not working correctly when passing time-series data"
I'm building the AreaSeries - band chart using data-ui/xy-chart.

I've passed the data:
[
  { x: new Date(), y: 10, y0: 5, y1: 15},
  ...
]

and xScale={{ type: 'time' }}

But the x-axis values are not generated correctly in xy-chart.
It seems that they only catch the value of date, like the format "YYYYMMDD" and ignore the time value.

Please check the issue and let me know the solution

[2018-06-20 06:32] williaster commented on #108
Hey @spa888 thanks for checking out data-ui! Can you link to a more specific example demonstrating the issue?

[Here's a code sandbox](https://codesandbox.io/s/ypk9369xz9) I made that demonstrates how you can format an x-axis with hours instead of days.

[2018-06-25 17:55] VincentRichard555 opened #109 "Rotate <XAxis /> tick lables"
Hi, this is a pretty simple issue but I can't seem to figure out how to rotate x axis tick labels.

What I am trying to do is essentially add

` .attr("transform", "rotate(-90)")`

to the text element of the x axis label.

I see there is `tickLabelComponent` prop of `<XAxis />` but I cannot seem to get it to work.

Thanks

[2018-06-25 18:39] williaster commented on #108
Hi @spa888, any update on this?

[2018-06-26 07:33] williaster commented on #109
Hey @VincentRichard555, thanks for checking out `data-ui`. In theory this should work by setting the `tickLabelProps` to something like `(d, i) => ({ transform: 'rotate(45)' })`, but it doesn't work because of the way transforms are done in the version of `@vx/axis` I'm using.

I'm planning to bump all `@vx` packages this week and after that this will be possible by setting `tickLabelProps={(d, i)

[2018-06-26 20:20] VincentRichard555 commented on #109
Thanks that sounds great!

[2018-06-26 21:48] williaster commented on #108
going to close this, let me know if you're still having an issue.

[2018-06-26 21:48] #108 closed

[2018-06-29 02:12] #109 closed

[2018-06-29 02:16] williaster commented on #98
[Here's a codesandbox ](https://codesandbox.io/s/x2myk0vkj4) that works with your data, the issue was parsing the date as I suspected.

[2018-06-29 02:16] #98 closed

[2018-06-29 02:29] williaster commented on #109
@VincentRichard555 this should now be fixed/exposed in `@data-ui/xy-chart` [`v0.0.59`](https://github.com/williaster/data-ui/blob/master/CHANGELOG.md#v0058).

I also added a [storybook demo](https://williaster.github.io/data-ui/?selectedKind=xy-chart&selectedStory=TickLabelPlayground&full=0&down=0&left=1&panelRight=0) so you can play with the various props 🚀 and here's an [example codesandbox](htt

[2018-06-30 21:28] VincentRichard555 commented on #109
Thanks! This solves my problem. I appreciate your fast response to my issue.

[2018-07-24 19:35] #43 closed

[2018-07-24 19:36] williaster commented on #36
Going to punt on this until Storybook updates are out!

[2018-07-30 20:43] williaster commented on #28
closing this for now

[2018-07-30 20:43] #28 closed

[2018-08-09 22:35] biancasubion opened #115 "StackedBarChart negative values"
[code]

Cannot seem to have y values that are negative in bar charts. Is this expected? I was hoping to be able to do something like this https://www.highcharts.com/demo/column-negative

[2018-08-09 23:07] williaster commented on #115
hey @biancasubion, this should definitely be supported I agree.

I think this will require some refactoring to use [`vx's Stack shape`](https://github.com/hshoff/vx/issues/291) instead of BarStack, which exposes a `offset="diverging"` hook for this purpose.

PRs are welcome, otherwise I can probably get to it in the next week or so.

[2018-08-09 23:08] williaster commented on #106
@wulucxy @schicks this should be coming in the next week or two 👍 cc @conglei

[2018-08-09 23:09] williaster commented on #49
closed with tree shaking and per-file builds in #111

[2018-08-09 23:09] #49 closed

[2018-08-13 07:51] si-harps opened #116 "Existing project integration"
Hi, great library! I was wondering what would be the recommended way to integrate the components into an existing project?

[2018-08-13 12:34] conglei commented on #106
@wulucxy and @schick, I’ve opened a PR for the brushing functions FYI.

https://github.com/williaster/data-ui/pull/117

Any suggestion is welcome !

[2018-08-13 16:57] williaster commented on #116
Hi @si-harps, thanks for checking out `@data-ui`. It's a react-based library, which assumes you'd have a standard react webapp / package set up. After that you can add the relevant dependency as needed and simply import the components you need.

[code]

For code snippet examples either look at the readmes, or check out the [example](https://github.com/williaster/data-ui/blob/master/packages/demo/e

[2018-08-13 16:57] #116 closed

[2018-08-13 17:19] si-harps commented on #116
@williaster great, thanks for the quick response

[2018-08-14 00:30] wulucxy commented on #106
@conglei It's great。

I have one question，the common solution is like brush under the chart，like what echarts did:

[code]

so，why do you choose another way，what is the benefit of your try?

[2018-08-21 23:01] kaiyoma commented on #100
Any update on this? I just started using this histogram component today and it's really great, except I'm also running into this error scenario.

[2018-08-22 00:13] kaiyoma opened #118 "Histogram renders incorrectly if the data is entirely zeroes and ones"
This might actually be a more general issue of calculating the domain, but I'll leave the problem statement more specific for now.

Here's a sandbox: https://codesandbox.io/s/3rqvwxo42p

Two issues:

1. The second bin (the one containing all the ones) is missing entirely.
2. The density for the first bin is calculated incorrectly, as can be seen in the height of the bar and the value in the toolti

[2018-08-22 06:41] williaster commented on #100
@kaiyoma yes! sorry for the delay, have been swamped at work. Dug in tonight / have a fix for it, will PR soon and should be able to release a new version tomorrow 👍

[2018-08-22 06:43] williaster commented on #118
Hey @kaiyoma, thanks for raising this issue.

This is definitely a bug, and related to #100. Will have a fix out shortly. Basically I was trimming the last bin for numeric unbinned data, which led to both errors you're seeing.

[2018-08-22 07:05] #100 closed

[2018-08-22 07:05] williaster commented on #118
Fixed by #119

[2018-08-22 07:05] #118 closed

[2018-08-22 19:04] conglei commented on #106
This feature has been implemented in  https://github.com/williaster/data-ui/pull/117.

[2018-08-22 19:04] #106 closed

[2018-08-22 19:41] williaster commented on #100
should be fixed in `@data-ui/histogram@^0.0.63`

[2018-08-22 19:41] williaster commented on #118
should be fixed in `@data-ui/histogram@^0.0.63`

[2018-08-22 23:16] williaster commented on #100
oooof, this looks like it comes from d3 histogram's behavior. In the case where there is one value, it's not clear what the size of the bin should be so d3 returns a bin with equal `bin0` and `bin1`. This is problematic to render because a range can't have the same start and end:

![image](https://user-images.githubusercontent.com/4496521/44495890-ad399400-a626-11e8-9e52-3981fb589a94.png)

curious

[2018-08-22 23:26] conglei opened #124 "Polish of brush component"
- [ ] Complete documentation

- [ ] Move low level `<Brush /> and <Drag />` to `@vx`

- [ ] Allow programable brushing

- [ ] Better handle resizing

[2018-08-23 01:48] kaiyoma commented on #100
I think "adding one" to make the upper bound is reasonable. Like you said, it's an edge case, where everything falls into a single bin, so I wouldn't lose any sleep over it. 😄 Making an artificially-sized bin is certainly better than rendering the x-axis in the wrong direction.

[2018-08-23 05:15] kaiyoma commented on #100
Great, the fix works just like I thought it would. Thanks again!

[2018-08-28 01:44] wulucxy commented on #106
@conglei how can I zoom the selection? like I want only show the period of my last selection?

[2018-08-28 07:58] williaster commented on #106
@wulucxy you can see an example of this in [this](https://github.com/williaster/data-ui/pull/126) PR (not live in storybook yet)

[2018-09-17 06:46] wulucxy opened #134 "how to support biaxial Line/Bar chart?"
Hello @williaster

I have looked around, i have checked the docs, I can't still figure out how to do a biaxial line chart. I have added the axisRight, but it is possible to use different key for that axis ?
I am looking for something that Left Axis is the line chart for 1 value and the Right Axis is a line for other type of value.

Thank you.

[2018-09-18 15:07] AdeBode commented on #109
@williaster, have these changes for Xaxis and Yaxis tick labels been implemented for the Histogram package?

[2018-09-18 16:33] williaster opened #135 "[histogram] add support for rotated axis labels"

[2018-09-18 16:34] williaster commented on #109
hey @AdeBode this has **not** been ported to `@data-ui/histogram` yet, it shouldn't be too difficult, though.

I opened #135 to track that feature. I'm pretty swamped at the moment so would totally welcome PRs, or I can probably find some time in the next ~4 weeks to get it done.

[2018-09-18 16:36] williaster commented on #134
Hey @wulucxy you're correct that this is _not_ supported yet. This type of chart is very confusing and so far we've purposefully not implemented it.

That said, we will probably be replacing all Superset charts with `@data-ui` based charts in the next 3 months, and we **will need** to add support for it at that time. So I'd say that's probably the expected timeline for this feature without help fr

[2018-09-18 16:37] williaster commented on #134
fwiw, my typical suggestion to stakeholders that want this type of chart is to stack two charts on top of each other, with separate y-axes and matched x-axes.

[2018-09-19 02:15] wulucxy commented on #134
@williaster if one chart is on top of another，so how to bind separate events on each chart ？

[2018-09-19 04:59] williaster commented on #134
interesting thought, here's a [codesandbox](https://codesandbox.io/s/v1vzolrl93) with a working demo. I think unfortunately you'd have to have one chart render both series, one invisible, and handle the mouse events for **both** charts.

[2018-09-19 05:01] williaster commented on #134
![dual-y-axis](https://user-images.githubusercontent.com/4496521/45731833-51fbb280-bb8e-11e8-84f4-14c38fbd4595.gif)

[2018-09-19 11:51] AdeBode commented on #109
@williaster Thanks for the quick response! Also swamped at the moment so I wont be able to make a PR (maybe in the future!). Anyhow, I just want to say thanks for the collection, I am really enjoying it!

[2018-09-24 18:24] jhofstede opened #137 "Unexplainable tooltip offset in XY-Chart when orientation of YAxis is set to `left`."
It might be a bug, but I've been wrapping my head around this for a couple of hours now. Once I put the Y-Axis on the left side, the tooltip is no longer in sync with the position of the mouse.

![image](https://user-images.githubusercontent.com/9789239/45970288-6cbea300-c036-11e8-8039-c092551abcac.png)

It seems to be caused by the `orientation`-prop of the `YAxis`.
[code]
Full
[code]
Any help is

[2018-09-24 18:27] williaster commented on #137
hey @jhofstede thanks for checking out `@data-ui`. We recently discovered this bug as well when `orientation="left"`. It should be a pretty straightforward fix, I think the computation just doesn't take into account the left margin properly.

I'll try to get to it in the next day or so 👍

[2018-09-24 18:29] jhofstede commented on #137
@williaster many thanks for your work on `@data-ui` and your quick reply!

[2018-09-27 09:45] si-harps opened #138 "X / Y axis center"
Hi, I was wondering if there is a quick way to position the X/Y Axis in the center of the graph (or in different positions based on dynamic median)?

[2018-09-27 21:35] williaster commented on #138
Hey @si-harps, thanks for checking out `@data-ui`. This isn't currently supported, but it's a great suggestion!

I think it wouldn't be too hard to implement, I think we'd just need to update the `Axis` components to take some type of `offset` prop, specifying the value of the other axis to place it at (e.g., in your example, `<YAxis xIntersection={7500} />`. I'd welcome a PR for this, else will a

[2018-09-28 07:49] si-harps commented on #138
Hi @williaster, thanks for the quick reply. I'll take a look at this today. Adding an xIntersection/yIntersection prop sounds like a great idea. Will get back to you asap

[2018-10-01 09:38] si-harps opened #139 "Dual Line / Bar Series"
@williaster - was wondering if something like this is possible right now?

http://bl.ocks.org/d3noob/e34791a32a54e015f57d

[2018-10-08 21:19] williaster commented on #139
hey @si-harps thanks for checking out @data-ui! I'm going to close this as it duplicates #134. There is no native support for this, but there's a workaround with [code example here in #134](https://github.com/williaster/data-ui/issues/134#issuecomment-422653266).

[2018-10-08 21:19] #139 closed

[2018-10-09 21:03] #137 closed

[2018-10-30 13:23] royderksroute42 opened #143 "LineSeries ordinal"
Hi there,

I've been trying for a (long) while but i can't figure out how to make an ordinal LineSeries - chart with String 'x' values. It seems to be unable to determine where its ticks should be; even when using numbers fo the 'x' value. Playing around with the numTicks properties and such all result in the same. Is this package capable of rendering a LineSeries?

data
[code]

[code]
![screen sh

[2018-10-30 18:40] williaster commented on #143
Hey @royderksroute42 thanks for checking out `@data-ui`!

I think that you're right that something is up with the `ordinal` type scale, so I'll mark this as a bug to make sure that it gets resolved.

BUT you can work around this for now with a `band` scale and setting `paddingInner = 1`:

`xScale={{ type: 'band', paddingInner: 1 }}`

 [Here's a codesandbox](https://codesandbox.io/s/4q1m5nq067) to

[2018-11-05 15:22] royderksroute42 commented on #143
Thank you for the quick reply, it seems the workaround is working as it should; the codesandbox was very usefull and helped a lot. Cheers!

[2018-11-26 15:40] kaiyoma opened #151 "Upgrading from 0.0.69 to 0.0.71 leads to `yarn check` errors"
I've been using version 0.0.69 of `histogram` and `xy-chart` for a little while now. When I tried to upgrade to version 0.0.71 this morning, I started getting `yarn check` errors immediately:

[code]

[2018-11-26 18:01] williaster commented on #151
Hey @kaiyoma thanks for checking out `@data-ui`!

Libraries shouldn't have lock files so we've not committed them, which makes me think that a mismatch between installed packages and a `yarn.lock` might not be a problem with `@data-ui`. Have you deleted your `yarn.lock` and tried a fresh install? If that doesn't work then it's possible the lock file was included in the published package 🤔

[2018-11-26 19:43] williaster commented on #143
FYI this is due to ordinal type scales requiring full explicit `domain`s for each value, which `XYChart` does not currently handle (it will set a 2-element `min`/`max`). Working on a fix to not require users to pass this in explicitly.

[2018-11-26 19:46] williaster commented on #151
thanks for the update 👍

Even though we've not committed it, I'd guess that the `yarn.lock` is being included in the npm package because it is not explicitly included in a `.gitignore` / `.npmignore` file. I'll try to release a new version in the next day or two with a fix for this.

[2018-11-27 21:51] #151 closed

[2018-12-06 20:31] williaster commented on #151
@kaiyoma this should be resolved in `0.0.74` lmk if you still are experiencing issues 👍

[2018-12-06 21:45] kaiyoma commented on #151
Yup, we upgraded to the newest version and after some clean installs (e.g. `rm -rf node_modules && yarn install`) everything is working again. Thanks!

[2018-12-17 04:31] runako opened #156 "Warning in BarSeries & DensitySeries when displaying object arrays"
Thanks for your hard work on this component! It looks great and has proven super useful for my project.

I'm displaying a histogram using a BarSeries and a DensitySeries, based on the example:

https://williaster.github.io/data-ui/?selectedKind=histogram&selectedStory=normal&full=0&addons=0&stories=1&panelRight=0

The data I pass to the rawData prop of each component is an array of objects, and I'

[2018-12-17 07:32] NaveenShanmugam opened #157 "Support For Line Series in Histogram"
Hi Team,

Could you please let me know how to Integrate Line Series Component in Histogram.

Thanks

[2018-12-17 17:47] williaster commented on #156
Thanks for checking out `@data-ui` @runako and raising this issue 🐛 I should be able to fix this and get a release out in the next day or two. Will ping you here when it's out 👍

[2018-12-18 05:39] williaster commented on #157
Hi @NaveenShanmugam, thanks for checking out `@data-ui` 👍 this is not currently supported in the `histogram` package, though it should be relatively to implement similar to how the `xy-chart` [implements `VerticalReferenceLine` and `HorizontalReferenceLine`](https://github.com/williaster/data-ui/tree/master/packages/xy-chart/src/annotation).

I probably cannot get to this very soon, but PRs are we

[2018-12-18 15:35] remorses opened #158 "Working on react native?"
Is there a version for react native?

[2018-12-18 18:22] williaster commented on #158
sorry this library is mostly built for desktop usage. this may be possible at some point if the underlying library (vx) were to support it. See [the relevant discussion in vx](https://github.com/hshoff/vx/issues/41).

[2018-12-18 18:22] #158 closed

[2019-01-08 22:52] kennetpostigo opened #160 "Brush"
I was attempting to bring `<Brush />` into a dashboard i'm working on that uses `vx`, however I wasn't able to do so successfully. Is there any recommendations on how to do so or can you spot what I may be doing wrong here:
[code]

The problem I would run into is that the component would render, but if I pan I can't see the selected area, however I do see the crosshairs from the component. I'm not

[2019-01-09 07:17] williaster commented on #160
hmm, this wasn't implemented to work outside of `xy-chart` yet, @conglei would you expect this to be possible?

the ultimate goal is to move it to `@vx` as part of getting to v1, which is being tracked by #124. I hope that happens soon, PRs to help are totally welcome tho 😄

[2019-01-09 14:39] kennetpostigo commented on #160
@williaster @conglei Do you know what XYChart provides that allows it to work?

[2019-01-09 17:38] conglei commented on #160
Hi @kennetpostigo , currently Brush is only part of xy-chart as @williaster said. For more details, you can checkout the source code. https://github.com/williaster/data-ui/blob/master/packages/xy-chart/src/chart/XYChart.jsx. Here, you can see that there are some logic to bind eventlisteners etc.

Our goal is to move it to @vx, and I will take a deep look to see how to make the demo in sandbox work

[2019-01-10 04:52] kennetpostigo commented on #160
Thanks @conglei

[2019-01-31 15:46] alvisetrevisan opened #162 "beemo fails while bootstrapping lerna"
Cannot set up the project: after a fresh clone of the repo (master, release 0.75) and `npm install`, during `lerna bootstrap` I get the following error:
[code]

[2019-02-01 22:05] williaster commented on #162
Thanks for raising this issue, we just encountered this in another repo, will fix it asap 👍

[2019-02-03 23:13] williaster commented on #162
@ABaldwinHunter should be fixed by #163 if you pull master

[2019-02-03 23:13] #162 closed

[2019-02-12 17:51] gnijuohz opened #164 "Set minimum bar length for BarSeries"
When there is one large data point in the bar series, all the other bars would be reduced to nothing. In that case it's impossible to hover over them to show tooltips or click on the bars.

Is it possible to set a minimum bar length for the BarSeries (maybe via adding a minBarLength prop)?

[2019-02-12 19:14] williaster commented on #164
Hi @gnijuohz thanks for checking out `@data-ui`. Do you have a code example you can link to? (easier to debug).

Setting a minimum bar height seems like it could be a bit misleading depending on how large you set it, but you should be able to define this with the `scale` `range` attribute (e.g., `yScale={{ type: 'linear', range: [visHeight, minBarHeight] }}`. This config maps almost directly to `d

[2019-02-12 19:58] gnijuohz commented on #164
@williaster Ah I think `yScale` will do! Will try that out.

`@data-ui` is neat! thanks for your great work!

[2019-02-13 12:14] RobinUS2 opened #165 "Build from source not working"
Hi there,

I attempted a couple of builds from source (as instructed, npm install, lerna bootstrap). These however seem to fail at a variety of versions (tested master at a0165e0ee587a7e908826c2db15c46da6d8afc51, 0.69 at 0840a3b92c08dd792d28f96727ae71197b6e5e2c ).

Errors vary, at master it is:
[code]

at 0.69
[code]

[code]

Could you please help me out? Thanks!

[2019-02-13 19:08] williaster commented on #165
Thanks for checking out `@data-ui` and reporting this @RobinUS2 !

This is a problem with an unpinned lib in our build-config. Should be fixed now after merging #166, let me know if you still have issues.

[2019-02-13 19:08] #165 closed

[2019-02-13 19:09] williaster commented on #164
awesome! closing for now 👍

[2019-02-13 19:09] #164 closed

[2019-02-13 19:20] RobinUS2 commented on #165
Confirmed 👍 thanks for the swift reply.

[code]

[2019-02-15 22:58] gnijuohz opened #167 "console error when clicking on bars in Firefox"
To reproduce, open [this link](https://williaster.github.io/data-ui/?selectedKind=xy-chart&selectedStory=BarSeries%20--%20no%20axes&full=0&addons=0&stories=1&panelRight=0) in Firefox, open developer tools and click on the bars.

The following error will appear:

`TypeError: Value being assigned to SVGPoint.x is not a finite floating-point value`.

Chrome doesn't report this error.

Seems it's due

[2019-02-19 19:12] amiramitai opened #168 "Code breaks in production when component names are mangled"
isSeries, for example, checks the child's component name, but when building for production, it breaks.

The default behavior of the 'build' command in create-react-app is to mangle the code that includes the components names.

EDIT:
No, my bad - I had that because I used AnimatedBarSeries directly instead of BarSeries.
This is what you get by not following the docs.

[2019-02-19 19:42] #168 closed

[2019-02-25 18:49] williaster commented on #167
thanks for reporting this @gnijuohz ! Just getting back from PTO but will try to fix this soon 👍 PRs welcome if you'd like it sooner!

[2019-03-13 18:12] williaster commented on #167
Should be [fixed in `0.0.77`](https://github.com/williaster/data-ui/blob/master/CHANGELOG.md#v0077)

[2019-03-13 18:32] #167 closed

[2019-04-09 18:41] okanji opened #174 "How to create a bar chart with bars of fixed width, regardless of the number of bars?"
Am trying to find a way have fixed bar widths for a bar chart. Currently this is my xScale, can I pass anything else to it that would fix the bar width?

 xScale={{ type: 'band', paddingInner: 0.15 }}

[2019-04-09 19:33] williaster commented on #174
Hey @okanji thanks for checking out `@data-ui`. This currently is not possible, the bar width is auto-computed based on

- the `#` of bars
- the `width` passed to the chart
- the `margin` passed to the chart

So you can back compute the size you want, and pass in the appropriate width/margin for the number of data points you have, but otherwise you cannot specify this. Most of the time users want

[2019-04-09 19:33] #174 closed

[2019-04-09 20:15] okanji commented on #174
Thanks for your quick and detailed response!

[2019-04-10 08:18] okanji opened #176 "Is it possible to have a horizontal stacked bar chart?"
I have been trying to make a horizontal stacked bar graph.

**xScale** in stacked bar series only accepts type '_band_'. I assume that it would need to be type '_linear_' for a horizontal stacked bar graph.

Is it possible to make a horizontal stacked bar graph?

Thanks

[2019-04-10 23:47] williaster commented on #176
Sorry @okanji this is currently not possible. It should be relatively easy to implement with the `@vx` `BarStackHorizontal` component if you want to take a shot at the PR

https://vx-demo.now.sh/barstackhorizontal

[2019-04-11 04:20] okanji commented on #176
Sounds good, I'll look into that on the weekend, thanks.

[2019-04-23 20:00] kayemcmc opened #177 "Classname prop from YAxis"
Would it be possible to add className prop to yAxis and xAxis?

[2019-04-24 16:22] kayemcmc commented on #177
Oh Awesome I will submit a pr! Thank you so much

On Wed, Apr 24, 2019 at 10:56 AM Chris Williams <notifications@github.com>
wrote:

--
Karen Posada
512-665-7379

[2019-05-03 00:14] lonalee opened #178 "How to make lines straight"
Hello there.
I was astonished by all your brilliant data-ui!
I finally got a chart on my project to work just fine!
But only one thing is bothering me.
I wanna get the straight lines (using LineSeries with only curve lines)!
It would be great if you let me know how to handle the shape of lines.
Thank you very much.

[2019-05-06 09:18] penartur opened #179 "Click handling in RadialChart?"
It looks like only Network, XYChart, Histogram and EventFlow currently support click handling.

I see that click handling in Histogram was only implemented recently in #102. You mention that it was supposed to be trivial to add; however, looking at #103, the code is anything but trivial for me; so, unfortunately, I'm unable to implement it myself and submit a prepared pull request there.

It would

[2019-05-28 19:17] bluekvirus opened #180 "Extra svg text that causes scrollbar to appear on <body>"
https://github.com/williaster/data-ui/blob/c30330ad2f57a1ba853ad17876c8538eacc51db4/packages/xy-chart/package.json#L38

The `@vx/text` util function is fixed but here we might want to reference `@vx/xy-chart: ^0.0.175` to pick up the fix from `@vx/text` 0.0.175 and above.

Thanks!

[2019-06-03 21:31] #180 closed

[2019-06-03 21:37] williaster commented on #178
Hi @lonalee I assume you are talking about the `@data-ui/xy-chart` package, you can accomplish this simply by setting the [`interpolation` prop](https://github.com/williaster/data-ui/blob/master/packages/xy-chart/src/series/LineSeries.jsx#L27) to `linear`.

thanks for checking out `@data-ui`!

[2019-06-03 21:37] #178 closed

[2019-06-03 21:39] williaster commented on #179
Hi @penartur, sorry I don't currently have the bandwidth to implement this myself. If you (or someone else) is interested in it, it really should not be as complex as the `historgram` package, tho.

[2019-06-10 18:18] smitp33 opened #182 "Question around date format"
Hi, we are currently using Superset and I started to look at using the event flow viz which would fit one of our use cases very nicely. The application that is currently firing in the events is recording the timestamp information as the `ISOString` format of date e.g. `2019-06-10T18:10:53.854Z`. Looking at this viz it appears to want to have the date provided in the long format that matches the  `

[2019-06-17 19:06] williaster commented on #180
@bluekvirus this should now be fixed in `@data-ui/xy-chart@0.0.79`

[2019-06-17 19:14] williaster commented on #182
Hi @smitp33, sure! PRs are always welcome 😄

An alternative might be updating the format in the Superset layer, which does a bit of munging / formatting before passing the data to `EventFlow`.

[2019-06-17 20:06] bluekvirus commented on #180
Awesome! Thanks :))

On Mon, Jun 17, 2019 at 12:06 PM Chris Williams <notifications@github.com>
wrote:

[2019-07-19 04:34] mfe5003 opened #183 "histogram tickLabelProps"
Hi, thanks making this library!

I am having an issue trying to pass tickLabelProps into a histogram XAxis.
When I do pass in a custom tickLabelProps function I get the following error:

VM538 1.chunk.js:894 Uncaught TypeError: Cannot read property 'bottom' of undefined

I believe I've tracked it down to the fix from commit 3a594deca588dd7761957f54de31177f09bed830 not being applied to the histogra

[2019-07-24 21:39] #183 closed

[2019-07-24 23:25] williaster commented on #183
@mfe5003 this should be fixed in the [`0.0.80` release](https://github.com/williaster/data-ui/blob/master/CHANGELOG.md#v0080)

[2019-09-09 19:33] kennetpostigo opened #186 "How to set formatters for X/Y axis"
Is there a way to pass a function that formats tickValues? I'm using `XYChart` to generate the chart below.

![image](https://user-images.githubusercontent.com/8888991/64560710-013d1680-d317-11e9-9412-9ef363ebeb64.png)

[2019-09-09 19:36] #186 closed

[2019-09-10 11:46] philipgriggs opened #187 "Histogram multiple series offset"
Is it possible to offset the x-location and width when there are two `BarSeries`? Like the below image.
![double_series](https://user-images.githubusercontent.com/38210431/64611144-b2e85000-d3c8-11e9-97cf-29f00151dec5.png)

[2019-09-10 18:59] williaster commented on #187
Hi @philipgriggs, thanks for checking out `@data-ui`. Currently this is not possible with the `@data-ui/histogram` package, Bar series can only be overlaid on one another.

You can however do this with the `@data-ui/xy-chart` `GroupedBarSeries`, you'd just need to compute do the histogram binning yourself. See [this example](https://williaster.github.io/data-ui/?selectedKind=xy-chart&selectedStory

[2019-09-10 18:59] #187 closed

[2019-09-13 16:37] #160 closed

[2019-09-13 16:38] kennetpostigo opened #188 "How to sync brushes"
Is there a way to sync brushes?

[2019-09-24 00:05] mcassels opened #189 "How to set XYchart yAxis rangepadding"
Hi, is there a way to set the rangePadding of the yAxis in an XYchart? I saw that XYchart sets the xAxis rangePadding to xScale.offset, but the yAxis rangePadding to null.

I want to create space at the top of the chart above the highest data point (i.e. want the yAxis to extend somewhat above the data range). Thanks!

[2019-09-24 00:18] williaster commented on #189
👋  @mcassels, thanks for checking out `@data-ui`. Looks like you're correct that we [override `rangePadding` to `null`](https://github.com/williaster/data-ui/blob/07fcfe33c814023b7db085b2539192e93a92e52e/packages/xy-chart/src/chart/XYChart.jsx#L366) which I'd consider a 🐛.

I pushed a quick fix in #190 , as a temporary work around until I can release a new version (next few days) you could explici

[2019-09-24 00:23] mcassels commented on #189
Great, thank you!!

[2019-09-24 00:31] #189 closed

[2019-09-24 00:44] williaster commented on #189
this should be fixed in `@data-ui/xy-chart@0.0.81`

[2020-01-09 09:02] lichin-lin opened #196 "How to modify the style for tooltip's container?"
Hey, Is there a way to update the white background of the tooltip?

I tried to look into the source code of the tooltip and WithTootip files, but it seems no way to customize the styling for the tooltip container. Are there any way to change the background color? or using a customize tooltip component?

here is the the example link: https://codesandbox.io/s/fragrant-water-tcp95
![Screen Shot 2020-

[2020-01-09 10:05] #196 closed

[2020-01-17 07:06] caglarbayatli opened #197 "Does binDomain covers binValues check problem"
There is this check for covering Provided bin values or not. But 'in' operator does not work for ranges, i think.
`binValues.forEach(function (binValue) {
      if (!(binValue in binDomain)) {
        providedBinsCoverDomain = false;
      }
    });`

Because of this, it does not use binValues and after that gives always an error like;

[2020-01-17 12:04] caglarbayatli commented on #197
Its kind of working, if you don't use`const ResponsiveHistogram = withParentSize(({ parentWidth, parentHeight, ...rest}) => (
  <Histogram
    width={parentWidth}
    height={parentHeight}
    {...rest}
  />
);`

[2020-01-24 07:17] #197 closed

[2020-01-28 09:55] caglarbayatli commented on #109
@williaster I think Xaxis label angle still does not work properly and  its "tickLabelComponent" prop is not using?
Thanks

[2020-01-29 09:56] caglarbayatli opened #198 "Histogram X axis label rotate and sorting 'categorical' tick problem"
Xaxis label angle does not work properly and Xaxis "tickLabelComponent" prop is not used, I suppose.
And Im working with pre-binned data and data order does not matter to histogram bar series, X axis sorts ticks anyway.

Thanks

[2020-02-12 16:11] camflan opened #200 "Update build-config"
Some dependency issues that were caused by (in my opinion), a poorly named version of a build dependency  (this dep should've been a major release instead of minor)

See issue here: https://github.com/williaster/build-config/issues/17

[2020-02-14 02:13] williaster opened #201 "Repo freeze 🥶"
`@data-ui` is being deprecated. We would like to re-write some packages in TypeScript and consolidate our visualization efforts. Thus the following package changes are planned for the monorepo:

- Re-write and migrate the following packages to vx
  - `@data-ui/xy-chart`  => `@vx/xy-chart`
  - `@data-ui/network`   => `@vx/network`
  - `@data-ui/histogram` => `@vx/stats` (has boxplot + violin plot a

[2020-03-12 20:08] kaiyoma opened #202 "Deprecated React lifecycle methods need to be renamed or removed"
When I use this library, I see console warnings like the following:

[code]

At the very least, if you're not going to update to the new lifecycle methods, you need to rename the deprecated ones with `UNSAFE_` at the beginning.

[2020-03-12 21:48] williaster commented on #202
Please see #201

[2020-03-12 21:48] #202 closed, assigned to nobody

[2020-04-23 02:18] cfnelson commented on #201
@williaster Is there any update on the progress or tentative eta for when `@data-ui/xy-chart` will be migrated to `@vx/xy-chart`?

Also wanted to say thanks for such a neat bunch of components. Really love the simplicity & clean ui of the `xy-chart` & `sparkline` pkgs. 👍

[2020-04-23 23:17] williaster commented on #201
👋 @cfnelson thanks for checking in. I have not made significant progress so far, I plan to shift focus to this in the next week or two, ideally landing by the end of Q2/in May or June.

We'll be re-considering the `xy-chart` architecture in the move, so hopefully will be a great upgrade for all 😄

[2020-05-07 18:24] cfnelson commented on #201
@williaster Just wanted to say thank you for the update! ❤️  Excited to see what the changes will bring!

Is there a branch or issue(s) that we can watch the progress of the work or see the ideas behind the refactor/re-architecture.

[2020-06-02 23:21] williaster commented on #201
@cfnelson sorry for the slow reply, just getting started in earnest here. Check out the [vx RFC](https://github.com/hshoff/vx/issues/734) if you have thoughts or want to track progress.

[2020-07-01 02:15] timelyportfolio opened #203 "R package"
Even though #201 I built an R package https://timelyportfolio.github.io/dataui so that we can easily access your incredible work in R.  Thanks so much for all your efforts on `data-ui` and `vx`.  They now have a whole new audience.

[2020-08-18 11:09] alangrn commented on #201
This sounds great. How is this progressing? Any timeframe when the new version will be available?

[2020-08-18 20:38] williaster commented on #201
@alangrn I started a [project in the vx repo](https://github.com/hshoff/vx/projects/3) to track progress. I implemented a POC [here](https://github.com/hshoff/vx/pull/745), so hopefully it will come together relatively quickly over the next ~month or so (targeting end of Q3)

[2020-08-25 20:48] alangrn commented on #201
Thanks. That worked great. Do you have an example for updating data? This example says - @TODO wip updating data. I am looking for an example of how to re-render when data changes.

[2020-08-25 20:49] alangrn commented on #201
Do you have an example of how to use the brush with a bar chart?

[2020-08-27 10:01] alangrn commented on #201
Do you have any sandboxes / examples for  stacked or grouped bar chart where the data is in the format :
  {
    date: '2011-10-01',
    City : 'New York'
    Temperature: '63.4',
  },
  {
    date: '2011-10-01',
    City : 'San Francisco'
    Temperature: '58.0',
  },
  {
    date: '2011-10-01',
    City : 'Austin'
    Temperature: '60.0',
  },

[2020-08-28 13:46] alangrn commented on #201
Thanks @williaster Will the sparklines also be migrated?

[2020-09-02 10:11] alangrn opened #204 "Sparklines and latest version of vx"
Is there any plan to migrate the sparklines in data-ui to the latest version of vx?

[2020-09-02 18:52] williaster commented on #201
@alangrn sorry I was on vacation. Some of your questions are out of scope for this issue, I'll reply in #204.

[2020-09-02 18:53] williaster commented on #204
A sparkline is almost the same as an `XYChart` without a y-axis and with convenience labels. Because they are so similar, there is currently no plan to migrate it, but if it's a major feature request we could likely implement a `vx` `sparkline` package built on top of `xychart` once it's landed

[2020-09-17 08:31] alangrn commented on #204
I have managed to get the sparklines working using the version of vx used in data-ui. However when I tried to use v0.0.198 they did not work so moving this over would be great if not too much effort required on your side.

[2020-11-16 21:16] IonaShanks opened #205 "Histogram with pre-binned data"
I am unable to get the histogram to display the pre-binned data as I'm getting error about the bar key not being unique. I am not sure where I should be adding the key.  - Always only displays the last  bar on this histogram
binnedData = {[{ bin0: 0, bin1: 364, count: 1 }  , { bin0: 364, bin1: 728, count: 2 }, { bin0: 728, bin1: 1092, count: 3 }]}

"Warning: Encountered two children with the same

[2020-12-01 02:09] klinkow opened #206 "Update visualizations"
The npm package `data-ui` is no longer being maintained and should be upgraded to [visx](https://github.com/airbnb/visx). This will affect components:

`Summary/Histogram`
`Summary/ResponsiveHistogram`
`Summary/RadialChart`

and possibly others in the `javascript/src/components/Summarize` directory.

[2020-12-01 04:22] williaster commented on #206
Hey @klinkow did you mean to open this in this repo?

[2020-12-01 04:55] kaiyoma opened #207 "Can't run tests or build or bootstrap due to errors: "Invalid Tool field" or "Unknown blueprint""
I followed the instructions in the readme (clone, install, bootstrap), but even after that, none of the package commands work. They all fail with the same "invalid tool" error:

[code]

[2020-12-01 05:12] kaiyoma commented on #207
The above output occurred on my Windows 10 laptop. I tried the same steps on a Linux box and got different errors while trying to bootstrap (which are similar to other issues I've seen):

[code]

[2020-12-01 20:17] williaster commented on #207
Hi, this repo is no longer maintained, please see #201

[2020-12-01 20:17] #207 closed, assigned to nobody

[2020-12-01 21:02] kaiyoma commented on #207
Yes, I realize that, but I'm looking for some guidance on how to get this build working. I'm trying to make my own fork that fixes some issues, but there seem to be some fundamental build issues precluding that.

[2020-12-01 21:11] williaster commented on #207
Sorry, the build system is quite old and unfortunately there is a non-trivial amount of work needed to get it working again.

[2020-12-03 05:21] klinkow commented on #206
omg sorry, wrong repo. Thank you for all of your work on data-ui and visx! Closing... 😃

[2020-12-03 05:21] #206 closed, assigned to nobody

[2021-01-16 16:38] #205 closed, assigned to nobody

[2021-02-23 14:44] Genarito commented on #198
Same problem here! Did you solve this?

[2021-02-25 07:09] acaglarbayatli commented on #198
Hi @Genarito , I have solved the angle myself, however X axis labels are still sorted by library anyway.
I've used tickLabelProps like, `tickLabelProps={()=>{return {angle: 315, fontSize: 10, textAnchor: "end", dy: -5 }}}`

[2021-02-25 15:10] Genarito commented on #198
Thank you so much for you answer, unfortunatelly my problem was that the object keys where not sorted

[2021-05-17 06:23] schwannden opened #208 "WARNING export 'withTooltipPropTypes' (imported as 'vxTooltipPropTypes') was not found"
I have the following dependency in package.json
[code]

When running yarn start (compiling the project), webpack gives warning
[code]

And This line of import seems indeed to be invalid:
https://github.com/williaster/data-ui/blob/169dd6da1a68299f12d6792e2616e32356ba9395/packages/shared/src/enhancer/WithTooltip.jsx#L7

considering that withTooltipPropTypes really is not found in tooltip package: ht

[2021-07-02 14:06] phenry2 commented on #208
Also experiencing this issue with @data-ui/histogram. I tried rolling back to @vx/tooltip 0.0.165 to match the dependency of data-ui/histogram, but it had no impact.

[2021-07-02 14:26] phenry2 commented on #208
Altering https://github.com/williaster/data-ui/blob/169dd6da1a68299f12d6792e2616e32356ba9395/packages/shared/src/enhancer/WithTooltip.jsx#L8

To read;

`from "@vx/tooltip/build/enhancers/TooltipWithBounds"`

Resolved the issue as withTooltopPropTypes exists here.

[2021-10-19 06:03] kaiyoma commented on #208
@schwannden @phenry2 Have you found a fix or workaround here? I'm upgrading to webpack 5 and now I'm starting to run into this as well.

[2021-10-19 07:21] phenry2 commented on #208
Sorry, I gave up and switched to a completely different package in the end. Everything I tried seemed to make it worse.

[2021-10-19 17:58] kaiyoma commented on #208
I was able to hack around this problem following the suggestion here: https://github.com/williaster/data-ui/issues/208#issuecomment-873039538

The imports should look like this:

[code]

I pushed a custom fork (with only the above fix) to our internal registry and that was enough to get past my most immediate obstacle. Agreed that the appropriate long-term strategy is to ditch data-ui entirely.

[2022-02-08 18:36] ninjaasmoke commented on #208
Hey, what package did you switch to?

[2022-02-08 23:20] phenry2 commented on #208
Start using carbon charts, they have a nice histogram. https://github.com/carbon-design-system/carbon-charts

[2022-02-08 23:20] phenry2 commented on #208
Start using carbon charts, they have a nice histogram. https://github.com/carbon-design-system/carbon-charts

[2022-03-11 09:07] Nithi-1995 opened #209 "export 'withTooltipPropTypes' (imported as 'vxTooltipPropTypes') was not found in '@vx/tooltip/build/tooltips/TooltipWithBounds' (possible exports: __esModule, default)"
How to fix this issue?

[2022-03-12 01:36] williaster commented on #209
this repo is no longer maintained

[2022-03-12 01:36] #209 closed, assigned to nobody

[2022-07-13 08:31] coolbirdzik commented on #208
It's not a solution to this issue 😅